html {
	font: 400 12px/1.667 "Open Sans", sans-serif;
}

.menu {
	background-color: white;
	left: 0;
	overflow: hidden;
	padding: 0;
	position: fixed;
	top: 0;
	-webkit-transition: all 0.2s linear;
	transition: all 0.2s linear;
	width: 100%;
	height: 50px;
	z-index: 100;
	border: 0px;
	border-bottom: 2px;
	border-style: solid;
	border-color: #AAA;
}

#logo > a > img {
	margin: 0;
	padding: 0;
	height: 50px;
	float: left;
}

#menu_button{
	position: relative;
	float: right;
	margin: 0;
	padding:0;
	height: 100%;
}

#menu_button > ul {
	position: relative;
	display: flex;
	list-style: none;
	margin: auto;
	height: 100%;
}

.bouton {
	display: block;
	font-size: 18px;
	text-decoration: none;
	transition: all 0.3s linear;
	border: 10px;
	border-style: solid; border-color: #32CD32;
	background:#32CD32;
	text-align: center;
	color: white;
	padding: 0;
	margin: auto;
}

.bouton:hover {
	border-color: #32CD32;
	background:#32CD32;
}

body {
	background-image: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#first{
	font: 400 24px/1.667 "Open Sans", sans-serif;
	background-color: white;
	padding: 10px;
	margin: auto;
	position: fixed;
 	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	align-content: center;
	margin-top: 25%;
	width: 50%;
	z-index: 10;
}

#first > a {
	width: 30%;
}

#arrow01 {
	display: block;
	background-image: url("../img/arrow01.gif");
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	padding: 10px;
	transform: translate(-50px, 0px);
	left: 50%;
	bottom: -4%;
	width: 80px;
	height: 80px;
	z-index: 10;
}

#second{
	font-size: 20px;
	background-color: white;
	padding: 10px;
	margin: auto;
	position: absolute;
 	left: 0px;
	text-align: center;
	top: 100%;
	width: 100%;
    box-sizing: border-box;
	z-index: 50;
	border-top: solid;
}

.center {
    font-size: 24px;
    background-color: white;
    padding: 10px;
    margin: auto;
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: 15%;
    width: 50%;
    min-width: 500px;
    z-index: 10;
}

.exception {
	color: red;
	font-size: 15px;
}

fieldset {
		border-radius: 5px;
}

fieldset > legend{
		font-size: 24px;
}

label {
    font-size: 20px;
    float: left;
    text-align: right;
}

input:not([type=submit]):focus {
    border-color:#333;
}

input:not([type=submit]) {
    border-radius: 5px;
    float: right;
    text-align: left;
    font-size: 18px;
    width: 50%;
}

input[type=submit], button {
    font: 400 18px/1.667 "Open Sans", sans-serif;
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.list {
	font-size: 24px;
	background-color: white;
	padding: 10px;
	margin: auto;
	position: absolute;
 	left: 50%;
	transform: translate(-50%, -0px);
	text-align: center;
	align-content: center;
	margin-top: 70px;
	width: 90%;
	min-width: 100px;
	min-height: 80%;
	z-index: 10;
}

.element {
	padding: 2px;
	background: #DDD;
	margin: 0;
	border: 1px;
	border-style: solid;
	border-color: #AAA;
	height: 15%;
	overflow: hidden;
	margin: 5px;
}

.element > .title{
	margin: 0;
	padding:0;
	position: absolute;
	text-align: left;
	text-decoration: none;
	left: 180px;
	font-size: 28px;
}

.element > .desc{
	display: flex;
	position: absolute;
	text-align: left;
	text-justify: inter-character;
	transform: translate(-0%, +26px);
	left: 170px;
	height: 10%;
	width: 45%;
	font-size: 16px;
	overflow: hidden;
}

.element > a >img {
	float: left;
	left: 0;
	height: 138px;
	overflow: hidden
}

.choixRecette {
	font-size: 24px;
	background-color: white;
	padding: 10px;
	margin: auto;
	position: fixed;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	align-content: center;
	margin-top: 25%;
	width: 50%;
	z-index: 10;
}

.choixEvent {
    font-size: 24px;
    background-color: white;
    padding: 10px;
    margin: auto;
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    margin-top: 25%;
    width: 50%;
    z-index: 10;
}

.creationEvenement {
    font-size: 24px;
    background-color: white;
    padding: 10px;
    margin: auto;
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: 12.5%;
    width: 50%;
    min-width: 500px;
    z-index: 10;
}

#con {
    font-size: 24px;
    background-color: white;
    padding: 10px;
    margin: auto;
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: 12.5%;
    width: 50%;
    min-width: 500px;
    z-index: 10;
}

.conPadding {
    align-content: center;
    padding: 50px;
    padding-bottom: 100px;
}

.labelCon {
    float: left;
    text-align: right;
}

.inputCon {
    float: right;
    text-align: left;
    font-size: 18px;
    width: 50%;
}

#ins {
    font-size: 24px;
    background-color: white;
    padding: 10px;
    margin: auto;
    position: relative;
    text-align: center;
    align-content: center;
    margin-top: 12.5%;
    width: 50%;
    min-width: 600px;
    z-index: 10;
}

.labelIns {
    font-size: 20px;
    float: left;
    text-align: right;
}

.inputIns {
    float: right;
    text-align: left;
    font-size: 18px;
    width: 50%;
}

input[type=search] {
    float: right;
    text-align: left;
    font-size: 18px;
    width: 80%;
}

.searchDiv {
    padding: 2px;
    background-color: white;
    margin: 0;
    border: 1px;
    border-style: solid;
    border-color: #AAA;
    height: 15%;
    overflow: hidden;
    margin: 5px;
}

.searchEvent {
    width: 50%;
}

.form {
	font-size: 24px;
	background-color: white;
	padding: 10px;
	margin: auto;
	position: relative;
	text-align: center;
	align-content: center;
	margin-top: 12.5%;
	width: 60%;
	min-width: 500px;
	z-index: 10;
}

.labelForm {
	float: left;
	text-align: right;
}

.inputForm {
	float: right;
	text-align: left;
	font-size: 18px;
	width: 50%;
}

/*

All grid code is placed in a 'supports' rule (feature query) at the bottom of the CSS (Line 320).

The 'supports' rule will only run if your browser supports CSS grid.

Flexbox is used as a fallback so that browsers which don't support grid will still recieve an identical layout.

*/

/* Base styles */

:root {
	font-size: 10px;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	display: flex;
	flex-direction: column;
	background-color: #0079bf;
}

.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font: inherit;
	background: none;
	border: none;
	color: inherit;
	padding: 0;
	cursor: pointer;
}

:focus {
	outline-color: #fa0;
}

/* Masthead */

.masthead {
	flex-basis: 4rem;
	display: flex;
	align-items: center;
	padding: 0 0.8rem;
	background-color: #0067a3;
	box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
}

.masthead .btn {
	background-color: #4c94be;
	border-radius: 0.3rem;
	transition: background-color 150ms;
}

.masthead .btn:hover {
	background-color: #3385b5;
}

.boards-menu {
	display: flex;
	flex-shrink: 0;
}

.boards-btn {
	flex-basis: 9rem;
	font-size: 1.4rem;
	font-weight: 700;
	color: #fff;
	margin-right: 0.8rem;
	padding: 0.6rem 0.8rem;
}

.boards-btn-icon {
	font-size: 1.7rem;
	padding-right: 1.2rem;
}

.board-search {
	flex-basis: 18rem;
	position: relative;
}

.board-search-input {
	height: 3rem;
	border: none;
	border-radius: 0.3rem;
	background-color: #4c94be;
	width: 100%;
	padding: 0 3rem 0 1rem;
	color: #fff;
}

.board-search-input:hover {
	background-color: #66a4c8;
}

.search-icon {
	font-size: 1.5rem;
	position: absolute;
	top: 50%;
	right: 0.8rem;
	transform: translateY(-50%) rotate(90deg);
	color: #fff;
}

.logo {
	flex: 1;
	font-family: "Courgette", cursive;
	font-size: 2.2rem;
	font-weight: 700;
	color: rgba(255, 255, 255, 0.5);
	margin: 0 2rem;
	transition: color 150ms;
	text-align: center;
	white-space: nowrap;
	cursor: pointer;
}

.logo:hover {
	color: rgba(255, 255, 255, 0.8);
}

.logo-icon {
	padding-right: 0.4rem;
}

.user-settings {
	display: flex;
	height: 3rem;
	color: #fff;
}

.user-settings-btn {
	font-size: 1.5rem;
	width: 3rem;
	margin-right: 0.8rem;
}

.user-settings-btn:last-of-type {
	margin-right: 0;
}

/* Board info bar */

.board-info-bar {
	flex-basis: 3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0.8rem 0;
	padding: 0 1rem;
	color: #f6f6f6;
}

.board-controls {
	display: flex;
}

.board-controls .btn {
	margin-right: 1rem;
}

.board-controls .btn:last-of-type {
	margin-right: 0;
}

.board-info-bar .btn {
	font-size: 1.4rem;
	font-weight: 400;
	transition: background-color 150ms;
	padding: 0 0.6rem;
	border-radius: 0.3rem;
	height: 3rem;
}

.board-info-bar .btn:hover {
	background-color: #006aa8;
}

.private-btn-icon,
.menu-btn-icon {
	padding-right: 0.6rem;
	white-space: nowrap;
}

.board-title h2 {
	font-size: 1.8rem;
	font-weight: 700;
	white-space: nowrap;
}

/* Lists */

.lists-container::-webkit-scrollbar {
	height: 2.4rem;
}

.lists-container::-webkit-scrollbar-thumb {
	background-color: #66a3c7;
	border: 0.8rem solid #0079bf;
	border-top-width: 0;
}

.lists-container {
	display: flex;
	align-items: start;
	padding: 0 0.8rem 0.8rem;
	overflow-x: auto;
	height: calc(100vh - 8.6rem);
	top : 50px;
}

.listT {
	flex: 0 0 27rem;
	display: flex;
	flex-direction: column;
	background-color: #e2e4e6;
	max-height: calc(100vh - 11.8rem);
	border-radius: 0.3rem;
	margin-right: 1rem;
}

.listT:last-of-type {
	margin-right: 0;
}

.list-title {
	font-size: 1.4rem;
	font-weight: 700;
	color: #333;
	padding: 1rem;
}

.list-items {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-content: start;
	padding: 0 0.6rem 0.5rem;
	overflow-y: auto;
}

.list-items::-webkit-scrollbar {
	width: 1.6rem;
}

.list-items::-webkit-scrollbar-thumb {
	background-color: #c4c9cc;
	border-right: 0.6rem solid #e2e4e6;
}

.list-items li {
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.3;
	background-color: #fff;
	padding: 0.65rem 0.6rem;
	color: #4d4d4d;
	border-bottom: 0.1rem solid #ccc;
	border-radius: 0.3rem;
	margin-bottom: 0.6rem;
	word-wrap: break-word;
	cursor: pointer;
}

.list-items li:last-of-type {
	margin-bottom: 0;
}

.list-items li:hover {
	background-color: #eee;
}

.add-card-btn {
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
	color: #838c91;
	padding: 1rem;
	text-align: left;
	cursor: pointer;
}

.add-card-btn:hover {
	background-color: #cdd2d4;
	color: #4d4d4d;
	text-decoration: underline;
}

.add-list-btn {
	flex: 0 0 27rem;
	display: block;
	font-size: 1.4rem;
	font-weight: 400;
	background-color: #006aa7;
	color: #a5cae0;
	padding: 1rem;
	border-radius: 0.3rem;
	cursor: pointer;
	transition: background-color 150ms;
	text-align: left;
}

.add-list-btn:hover {
	background-color: #005485;
}

.add-card-btn::after,
.add-list-btn::after {
	content: '...';
}

/*

The following rule will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox styling.

*/

@supports (display: grid) {
	body {
		display: grid;
		grid-template-rows: 4rem 3rem auto;
		grid-row-gap: 0.8rem;
	}

	.masthead {
		display: grid;
		grid-template-columns: auto 1fr auto;
		grid-column-gap: 2rem;
	}

	.boards-menu {
		display: grid;
		grid-template-columns: 9rem 18rem;
		grid-column-gap: 0.8rem;
	}

	.user-settings {
		display: grid;
		grid-template-columns: repeat(4, auto);
		grid-column-gap: 0.8rem;
	}

	.board-controls {
		display: grid;
		grid-auto-flow: column;
		grid-column-gap: 1rem;
	}

	.lists-container {
		display: grid;
		grid-auto-columns: 27rem;
		grid-auto-flow: column;
		grid-column-gap: 1rem;
	}

	.listT {
		display: grid;
		grid-template-rows: auto minmax(auto, 1fr) auto;
	}

	.list-items {
		display: grid;
		grid-row-gap: 0.6rem;
	}

	.logo,
	.listT,
	.list-items li,
	.boards-btn,
	.board-info-bar,
	.board-controls .btn,
	.user-settings-btn {
		margin: 0;
	}
}

.padtop {
	padding-top: 50px;
	top: 50px;
}
